.form{
    max-width: 500px;
    margin: 0 auto;
    
}
.upload{
    border: 3px dashed #ededed;
    border-radius: 8px;
    height: 100px;
    width: 100px;
    overflow: hidden;
    margin: 0;
    background: transparent;
}
.no-border{
    border: none;
}
.uploaded-img{
    display: flex;
}
.upload img{
    width: 100%;
    height: 100%;
}
.upload-file{
    position: relative;
}
.fileupload{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    height: 100%;
    width: 100px;
    cursor: pointer;
}
.gap12{
    gap: 12px;
}