.overlay{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.custommodal{
    background: #fff;
    padding: 20px;
    border-radius: 8px;
}